#logo {
    width: 80%;
    height: 80%;
}

#encabezado {
    align-items: center;
    background-color: #70E2EC;
    border: 1px solid #27B8C5;
    border-radius: 21px 21px 21px 21px;
    justify-content: center;
    padding-left: 20%;
}

body {
    font-family: 'Times New Roman';
}

h1 {
    font-size: 55px;
    font-weight: bold;
}

h2 {
    color: rgb(18, 146, 158);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-style: italic;
    font-weight: bold;
}

#cuerpo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    align-items: center;
}

button {
    margin-left: 25%;
}

#formulario {
    display: flex;
}

table {
    text-align: center;
    border: rgb(2, 189, 189) 2px solid;
}

#footer {
    text-align: center;
    background-color: #70E2EC;
    border: 1px solid #27B8C5;
    border-radius: 21px 21px 21px 21px;
    margin-top: 20px;
    margin-bottom: 10px;
}